html {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1em;
  color: #333;
  line-height: 1.4;
  word-wrap: break-word;
}

body { margin: 0; padding-top: 3.6em; }

nav {
  position: fixed;
  top: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid #ddd;
  background-color: #f5f5f5;
  white-space: nowrap;
  overflow: auto;
  text-align: center;
}

nav > h1 {
  font-size: 1em;
  font-weight: bold;
  padding: 1em;
  margin: 0;
  display: inline-block;
}

nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

nav > ul > li {
  padding: 1em;
  display: inline-block;
}

main {
  max-width: 35em;
  margin: 0 auto;
  padding: 0 1em;
  box-sizing: border-box;
}

main > header {
  padding-bottom: 1em;
  border-bottom: 1px solid #ddd;
}

/* Changing color from blue (#58f) to pink (#ff69b4) */
a { color: #ff69b4; text-decoration: none; }
a:hover { text-decoration: underline; }
a.button { color: white; padding: 0 1ex; background-color: #ff69b4; border-radius: 3px; text-decoration: none; }

/* Adding a contrasted pink background for pre tags */
pre {
  overflow: auto;
  padding: 1em;
  background-color: #ffe6f1; /* A light pink color for better contrast with white */
  border: 1px solid #dedede;
  border-radius: 10px;
}
